


.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .MuiTableCell-root {
    font-weight: bold;
  }
  
  .MuiTableHead-root {
    background-color: #c2bfbf;
  }
  

  .MuiTableRow-root:hover {
    background-color: #b2b5b6;
  }
.app  Link {
    
    text-decoration: none;

  }